.container{
  width: 800px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);

  align-content: center;
  justify-content: center;

  align-items: center;
  justify-items: center;
}

.container div{
  border: 1px solid red;  
}

.container div:first-child{
  align-self: start;
}

.container div:nth-child(2){
  align-self: end;
}

.container div:nth-child(5){
  align-self: end;
  justify-self: start;
}

