
/* position을 absolute로 주면
 해당 태그는 display 속성이 inline-block으로 바뀜 */



body{

  background-color: lightslategray;
  width: 100vh;
  /* height: 100vh; 
  내용의 크기에 높이가 정해짐 필요x*/
}

.container{

  width: 80%;
  /* 부모태그의 80%
  화면을 늘이고 줄여도
  비율유지됨 
  px로 지정시 비율이 달라짐 */
  margin: 20px auto;
  padding: 16px;
  background-color: white;
}

.header{
  margin-bottom: 15px;
  text-align: center;}

.header > span{
  color: white;
  background-color: lightpink;
  font-weight: bold;
  border-radius: 15px;
  padding: 8px 20px;
}

.header > h1{
  font-size: 2.5rem;
  /* 2.5rem = 2.5배 */
  margin: 20px 0px 10px  0px;
}

.header > div > h1 > span{

color: lightskyblue;
}

.header > div > p{
  line-height: 26px;
}


.list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4개가 균등한 크기로 꽉 채우겠다 */
  gap: 12px;
}

.member{
  /* border: 1px solid red; */
  position: relative;
  
}



img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.intro{
  
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  width: 100%;
  /* inline-block 으로 바뀌어서 
  100%를 줌 */
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* column 주축이 아래쪽*/
  justify-content: center;  
  /* 주축으로 정렬 */
  gap: 8px;

  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

}
.member:hover .intro{
  /* .member에 마우스를 올리면 */
 
  display: flex;
  /* 나타나게 한다 */
  opacity: 1;
  visibility: visible;
}

.sns{
  font-size: 1.5rem;
}


.sns > span:hover{
  color: lightskyblue;
  cursor: pointer;
}