.container{
  width: 500px;
  margin: 50px auto;
}

.menu{
  display: flex;
}

.menu > li{
  /* border: 1px solid black; */
  width: 150px;
  text-align: center;
  padding: 12px 0px;
  position: relative;
  background-color: black;
}

.menu > li::after{
  content: "|";
  color: white;
  position: absolute;
  right: 0px;
  /* 
  atter(뒤에는 content가 와야함)
  내가선택한요소뒤에추가하는것 */
}

.menu > li:last-child:after{
  content: none;
}
/* 마지막에 | 모양 없애는 법 */

.menu a{
  color: white;
  text-decoration: none;
}

.sub-menu{
  position: absolute;
  top: 43px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  max-height: 0px;
  /* 높이가 커질 수 있는 최대값 */

  transition: all 1.5s;
  /* display가 바뀌는 속성은 transition이 안먹힘 */

  /* display: none; */
  /* 사라지게함 */
}

.sub-menu > li{
  margin: 8px 0px;
}

.sub-menu > li:hover{
  font-weight: 600;
}

.menu > li:hover .sub-menu{
  /* display: block; */
  /* opacity: 1; */
  height: auto;
  max-height: 200px;
}
