.red-font{
  color: red
}

.a1{
  margin-bottom:  60px;
}

table{
  width: 900px;
  margin: 5%
  border-collapse collapse;
}

.a{

  background-color: rgb(243, 240, 242);
}

/* <div>
      <div>
      </div>
      <div>
      </div> 
      <div>
      </div>
    </div> 


*/